<div id="experience" class="background-alt">
  <h2 class="heading">Experience And Education</h2>
  <div id="experience-timeline">
    <div class="vtimeline-point">
      <div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div>
      <div class="vtimeline-block"><span class="vtimeline-date">July 2018 – Present</span>
        <div data-date="July 2018 – Present" class="vtimeline-content">
          <h3><a href="https://www.thinkowl.com/" target="_blank">THINKOWL</a></h3>
          <h4>Software Engineer</h4>
          <p>
            Part of the development team providing predictive analytics and and Features for customer in the
            automotive customer service industry , including AIDA and ENBW
          </p>
          <br>
          <p>
            Development tools used include Vscode, git ,jira, AWS, kubernets, docker,jenkins
          </p>
        </div>
      </div>
    </div>

    <div class="vtimeline-point">
      <div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div>
      <div class="vtimeline-block"><span class="vtimeline-date">June 2017 – July 2018</span>
        <div data-date="June 2017 – July 2018" class="vtimeline-content">
          <h3><a href="https://www.adityabirlacapital.com/" target="_blank">Neosoft(client AdityBirla)</a></h3>
          <h4>Software Engineer</h4>
          <p>
            Part of the development team providing Features for customer in the
            Health Insurance industry.
          </p>
          <br>
          <p>
            Development tools used include Vscode, git ,jira, AWS, kubernets, docker,jenkins
          </p>
        </div>
      </div>
    </div>

    <div class="vtimeline-point">
      <div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div>
      <div class="vtimeline-block"><span class="vtimeline-date">January 2015 – June 2017</span>
        <div data-date="January 2015 – June 2017" class="vtimeline-content">
          <h3><a href="http://www.plmlogix.com/" target="_blank">PLM logix</a></h3>
          <h4>Software Engineer</h4>
          <p>
            Part of the development team providing predictive analytics and Features for customer in the
            automotive customer service industry
          </p>
          <br>
          <p>
            Development tools used include Vscode, git ,jira, AWS, kubernets, docker,jenkins
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
